doctype html
html
    head
        include ../../docs/head.pug
    body
        //- 示例
        div.row
            div.col-xs-6
                h3 示例1
                div(bx-name="hello")
            div.col-xs-6
                h3 示例2
                div(bx-name="hello")
        //- 启动
        include ../../docs/boot.pug
        script.
            require(['brix/loader'], function(Loader) {
                Loader.boot(function() {
                    var instances = Loader.query('hello')
                    instances.on('change.hello', function(event, extra) {
                        console.log(
                            event.type,
                            event.namespace,
                            extra
                        )
                    })
                })
            })
